<doctype html>
<html lang="en">

<head>
  <title>Subscription Confirmed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-nav  navbar-fixed-top bg-primary" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="bmi">BMI</a></li>
        <li><a href="community">Community</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right bg-primary">
         <li><a href="ad"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
         <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       </ul>
     </div>
  </nav>

<!-- confirmation of completion of subscription folowedby email  -->
  <div class="jumbotron">
    <h2 align=center> Thanks for signing up!</h2><br>
    <h4 align=center>You'll now receive our healthy eating updates directly to your inbox. </h4>
  </div>

  <div class="footer" id="copyright">
    <p>©Merge Consultancy 2019</p>
  </div>

</body>
</html>
