<doctype html>
<html lang="en">

<head>
  <title>Community</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-nav  navbar-fixed-top bg-primary" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="bmi">BMI</a></li>
        <li><a href="community">Community</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right bg-primary">
         <li><a href="ad"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
         <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       </ul>
     </div>
  </nav>

<!-- Sign up form - input Nam and email address -->
<div class="jumbotron">
  <h2 align=center>Community Updates</h2>
  <h4 align=center>See what people are saying about healthy living around the world</h4>
</div>

<div class="row">
  <div class="col-md-6" align="center">
    <a class="twitter-timeline" data-width="600" data-height="2000" data-theme="light" href="https://twitter.com/FoodRev?ref_src=twsrc%5Etfw">Tweets by FoodRev</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="col-md-6" align="center">
    <p>Healthy Recipes from @sproutedkitchen on Instagram</p>
    <!-- InstaWidget -->
    <a href="https://instawidget.net/v/user/sproutedkitchen" id="link-7aba01e12f330dbf3698aa89c9e08cdc243b80d0a75bfb442b936a9fe2cfdc6a">@sproutedkitchen</a>
    <script src="https://instawidget.net/js/instawidget.js?u=7aba01e12f330dbf3698aa89c9e08cdc243b80d0a75bfb442b936a9fe2cfdc6a&width=600px"></script>
  </div>
</div>

</body>
</html>
